body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    align-self: center;
    align-items: center;
    margin-top: 30%;
    border: 1px solid #ccc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.header img {
    max-width: 150px;
}

.company-info {
    display: flex;
    text-align: start;
    div {
        margin-left: 5px;
    }
}

.rut {
    font-size: 10px;
    text-align: end;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.invoice-details, .service-details, .description, .footer {
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-details p, .description p, .footer p {
    margin: 5px 0;
}

.footer {   
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.signature-space {
    height: 50px;
    margin-top: 20px;
}

.future-text-space {
    margin-top: 20px;
    padding-top: 10px;
}
