body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.invoice-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form fieldset, form button, form textarea {
    width: 100%;
    margin-bottom: 15px;
}

form input[type="text"], form input[type="tel"], form input[type="date"], form input[type="number"], form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form fieldset {
    border: none;
    padding: 0;
}

form .service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

form .service input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form .service input[type="text"], form .service input[type="number"] {
    flex: 1;
    margin-right: 10px;
    min-width: 100px;
}

form .service label {
    flex: 1;
    min-width: 100px;
}

form button {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .invoice-form {
        width: 90%;
    }

    form .service {
        flex-direction: column;
    }

    form .service input[type="text"], form .service input[type="number"], form .service label {
        width: 100%;
        margin-bottom: 10px;
    }
}
