body {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-body {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
@media print {
    @page {
        margin: 0; 
    }

    body {
        margin: 0;
        padding: 0;
    }

    .div-body {
        width: 100%;
        height: auto;
        padding: 1cm;
        box-sizing: border-box;
        page-break-after: always;
    }

    .header, .invoice-details, .service-details, .description, .footer {
        page-break-inside: avoid;
    }
    .total-p {
        text-align: end;
    }
    button {
        display: none;
    }

    .header img {
        max-width: 80px;
        width: 70px;
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

#electricista {
    width: 40px;
    margin-left: 5px;
}
.electricista {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: yellow;
        background-color: rgba(0, 0, 0, 0.356);
    }

}

.header img {
    max-width: 150px;
    width: 100px;
}

.company-info {
    display: flex;
    text-align: start;
    font-size: 14px;
    div {
        margin-left: 5px;
    }
}

.rut {
    font-size: 13px;
    text-align: end;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: start;
}

.invoice-details, .service-details, .description, .footer {
    text-align: left;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-details p, .description p, .footer p {
    margin: 5px 0;
}

.footer {   
    display: flex;
    justify-content: space-between;
    align-items: center; 

}

.total-p {
    font-size: 14px;
    text-align: end;
}